<?xml version="1.0" encoding="UTF-8"?>
<!-- 如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪 http://go.microsoft.com/fwlink/?LinkId=169433 -->
<!-- 網頁程式首次安裝版本：v2017.02.10.0508 -->
<configuration>
  <appSettings>
    <!-- 一、設定系統的資料庫 -->
    <add key="DbID" value="sa"/><!-- 設定資料庫帳號 -->
    <add key="DbPW" value="1234"/><!-- 設定資料庫密碼 -->
    <add key="DbName" value="SMS_DB"/><!-- 設定資料庫名稱 -->
    <add key="DbSource" value="127.0.0.1\sqlexpress"/><!-- 設定資料庫來源 -->
    <!-- 二、設定SC程式監聽的IPPort位置與埠號 -->
    <add key="SCListenIPPort" value="127.0.0.1:8001"/>
    <!-- 三、設定WEB程式預設的功能選項與內容 -->
    <add key="TitleName" value="SMS管理系統"/><!-- 設定WEB程式登入的標題名稱 -->
    <add key="ShowEquList" value="1"/><!-- 人員基本資料設定顯示設備清單；1：顯示、2：隱藏 -->
    <add key="ShowCardAuthAdj" value="1"/><!-- 人員基本資料設定顯示卡片權限調整；1：顯示、2：隱藏 -->
    <!-- 四、設定WEB程式自訂的功能選項與內容 --><!-- 自行評估需求附加功能參數；請參閱附加功能參數設定與說明文件 -->
    <!-- 五、設定WEB程式特殊的功能選項與內容 -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/><!-- 網頁預設不用設定 -->
    <add key="owin:AutomaticAppStartup" value="false" /><!-- 啟用OWIN與否此參數須由系統人員依照情況設定 -->
  </appSettings>
  <!-- ******************** 以下部份不用設定 ******************** -->
  <!-- 強制關閉相容性檢視 -->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=Edge"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <pages viewStateEncryptionMode="Always"/>
    <!-- Page ViewState Encryption -->
    <sessionState mode="InProc" cookieless="false" timeout="300"/>
    <compilation targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <!-- 解出隱藏指令並修改如下 -->
    <customErrors mode="Off"/>
    <!-- 新增以下內容 -->
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>