@charset "utf-8";

html, body
{
	margin: 0;
	height: 100%;
}

.div_under_body
{
	margin: 0;
	height: 100%;
}

box
{
	margin: 0 auto;
	height: 100%;
}

body
{
	background: #1275BC url(../Img/bg_all.png) center center fixed no-repeat;
	-moz-background-size: cover;
	background-size: cover;
	color: #333;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

select
{
	margin: 0 5px 0 5px;
}

/*login */
.BgLogin
{
	width: 750px;
	height: 684px;
    background: url(../Img/bg_login.png) left 50px no-repeat;
	margin: 0 auto 0 auto;
	font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
}

	.BgLogin h1
	{
		width: 430px;
		padding: 230px 0 0 180px;
		color: #FFF;
		text-align: center;
		font-weight: bold;
		font-size: 42px;
	}

	.BgLogin h3
	{
		width: 430px;
		padding: 230px 0 0 180px;
		color: #FF9;
		text-align: center;
		font-weight: bold;
		font-size: 40px;
		letter-spacing: 4px;
	}

	.BgLogin h4
	{
		width: 430px;
		padding: 15px 0 15px 180px;
		color: #FFF;
		text-align: center;
		font-weight: bold;
		font-size: 26px;
		line-height: 38px;
	}


	.BgLogin ul
	{
		width: 360px;
		margin: 20px 0 0 210px;
	}

	.BgLogin li
	{
		margin: 0 0 15px 0;
		color: #FFF;
		font-weight: bold;
		font-size: 16px;
	}

		.BgLogin li input
		{
			background: #FFF;
			border: 0;
			padding: 3px 5px;
			color: #118AD2;
			-webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);
			box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);
		}

.BtnLogin
{
	padding: 0 15px;
	height: 35px;
	background: url(../Img/btn_login.png) left top repeat-x;
	border: 0;
	margin: 10px 0 0 350px;
	color: #114580;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #EBF6FF;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.3);
	box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.3);
	cursor: pointer;
}

.BtnHome
{
	padding: 0 15px;
	height: 35px;
	background: url(../Img/btn_login.png) left top repeat-x;
	border: 0;
	margin: 15px 0 0 320px;
	color: #114580;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #EBF6FF;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.3);
	box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.3);
	cursor: pointer;
}

	.BtnLogin:hover, .BtnHome:hover
	{
		background: url(../Img/btn_login.png) left bottom repeat-x;
		position: relative;
		top: 2px;
		left: 2px;
		-webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
		box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5);
	}

/* site1.master*/
.Wrapper
{
	width: 1258px;
	margin: 0 auto;
}

.Top
{
	background-color: #085292;
}

.Content
{
	padding: 15px 15px 20px 15px;
	margin: 0 0 65px 0;
	background-color: rgba(8, 82, 146, 0.2);
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}

.Footer
{
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0;
	background: #097AAE;
	-webkit-box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.7);
	box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.7);
	border-top: 1px solid #0CAAD8;
}

	.Footer p
	{
		width: 95%;
		padding: 10px;
		color: #FFF;
	}

/* icon all */
.IconSearch
{
	background: url(../Img/icon_search.png) 6px center no-repeat;
}

.IconNew
{
	background: url(../Img/icon_new.png) 6px center no-repeat;
}

.IconEdit
{
	background: url(../Img/icon_edit.png) 6px center no-repeat;
}

.IconDelete
{
	background: url(../Img/icon_delete.png) 6px center no-repeat;
}

.IconGroupSet
{
	background: url(../Img/icon_group_set.png) 6px center no-repeat;
}

.IconManageList
{
	background: url(../Img/icon_manage_list.png) 6px center no-repeat;
}

.IconSave
{
	background: url(../Img/icon_save.png) 6px center no-repeat;
}

.IconCancel
{
	background: url(../Img/icon_cancel.png) 6px center no-repeat;
}

.IconMultisearch
{
	background: url(../Img/icon_multisearch.png) 6px center no-repeat;
}

.IconLook
{
	background: url(../Img/icon_look.png) 6px center no-repeat;
}

.IconLeft
{
	background: url(../Img/icon_left.png) 6px center no-repeat;
}

.IconRight
{
	background: url(../Img/icon_right.png) 6px center no-repeat;
}

.IconChoose
{
	background: url(../Img/icon_choose.png) 6px center no-repeat;
}

.IconChange
{
	background: url(../Img/icon_change.png) 6px center no-repeat;
}

.IconOk
{
	background: url(../Img/icon_ok.png) 6px center no-repeat;
}

.IconSet
{
	background: url(../Img/icon_set.png) 6px center no-repeat;
}

.IconPassword
{
	background: url(../Img/icon_password.png) 6px center no-repeat;
}

.IconRefresh
{
	background: url(../Img/icon_refresh.png) 6px center no-repeat;
}

.IconSetCardNumber
{
	background: url(../Img/icon_setCardNumber.png) 6px center no-repeat;
}

.IconCopyPermissions
{
	background: url(../Img/icon_copyPermissions.png) 6px center no-repeat;
}

.IconReplacePermissions
{
	background: url(../Img/icon_replacePermissions.png) 6px center no-repeat;
}

.IconTransit
{
	background: url(../Img/icon_transit.png) 6px center no-repeat;
}

.IconLeave
{
	background: url(../Img/icon_leave.png) 6px center no-repeat;
}

.IconClearData
{
	background: url(../Img/icon_clear_data.png) 6px center no-repeat;
}

.IconImport
{
	background: url(../Img/icon_import.png) 6px center no-repeat;
}

.IconInport
{
	background: url(../Img/icon_inport.png) 6px center no-repeat;
}

.IconExport
{
	background: url(../Img/icon_export.png) 6px center no-repeat;
}

.IconOrganization
{
	background: url(../Img/icon_organization.png) 6px center no-repeat;
}

.IconSetRoles
{
	background: url(../Img/icon_set_roles.png) 6px center no-repeat;
}

.IconSetManage
{
	background: url(../Img/icon_set_manage.png) 6px center no-repeat;
}


/* menu*/
#MainMenu
{
	background-color: #003A6B;
}

	#MainMenu img.icon
	{
		border-style: none;
		vertical-align: middle;
	}

	#MainMenu img.separator
	{
		border-style: none;
		display: block;
	}

	#MainMenu img.horizontal-separator
	{
		border-style: none;
		vertical-align: middle;
	}

	#MainMenu ul
	{
		list-style: none;
		margin: 0;
		width: auto;
	}

		#MainMenu ul.dynamic
		{
			background-color: rgba(0, 58, 108, 0.9);
			color: rgba(0, 58, 108, 0.9);
			z-index: 1;
		}

	#MainMenu a
	{
		color: #FFF;
		display: block;
	}

		#MainMenu a.static
		{
			font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
			padding: 15px 20px;
			font-weight: bold;
			font-size: 15px;
			text-decoration: none;
			border-right: 1px solid #0060AE;
		}
		/* 大項li*/
		#MainMenu a.popout-dynamic
		{
			padding-right: 16px;
			color: #FFF;
		}

		#MainMenu a.dynamic
		{
			padding: 6px 15px;
			text-decoration: none;
			border-bottom: 1px solid #085292;
			font-size: 13px;
			color: #DBF8FD;
		}

		#MainMenu a.static.selected
		{
		}

		#MainMenu a.dynamic.selected
		{
		}

		#MainMenu a.static.highlighted
		{
			color: #FF6;
		}
		/* 大項li選擇*/
		#MainMenu a.dynamic.highlighted
		{
			color: White;
			background-color: #128ED1;
		}
/* 子項li選擇*
	
/* top*/
.Info
{
	width: 100%;
	height: 70px;
	background: url(../Img/bg_top.jpg) left top no-repeat;
}

	.Info h1
	{
		width: 830px;
		font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
		font-weight: bold;
		color: #FFF;
		font-size: 24px;
		float: left;
		margin: 18px 0 0 195px;
	}

	.Info h5
	{
		/*width: 500px;*/
		float: right;
		color: #FFF;        
		margin: 15px 25px 0 0;
		text-align: right;
	}

	.Info h3
	{
		/*width: 500px;*/
		float: right;
		color: #FFF;
		margin: 5px 25px 0 0;
		text-align: right;
		color: #FF6;
	}

		.Info h3 a
		{
			color: #FF6;
		}

			.Info h3 a:hover
			{
				color: #6CC;
			}

.BgMenu
{
	background-color: #003A6B;
}

	.BgMenu h3
	{
		width: 190px;
		padding: 8px 0 8px 45px;
		margin: 5px 10px 5px 10px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		background: #0060AE url(../Img/pic_home.png) 12px 5px no-repeat;
		color: #FF6;
		float: left;
		-webkit-box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.2);
		box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.2);
	}

    .BgMenu h5
	{
		width: 190px;
		padding: 8px 0 8px 45px;
		margin: 5px 10px 5px 10px;
		-webkit-border-radius: 20px;
		border-radius: 20px;		
		color: #FFF;
		float: right;
		-webkit-box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.2);
		box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,0.2);
	}

.UserIcon
{
	width: 26px;
	height: 26px;
	background: url(../Img/pic_user.png) left top no-repeat;
	margin: -5px 10px 0 0;
	display: block;
	float: right;
}

.User
{
	color: #FF6;
}

.FloatR
{
	float: right;
}


/* MsgPage */
.MsgMain
{
	font-size: 13px;
	color: #F09;
}

	.MsgMain iframe h1
	{
		font-size: 13px;
		color: #F09;
	}

/* table title */
.title01
{
	color: #FFF;
	font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
	font-size: 15px;
	font-weight: bold;
	padding: 8px 5px;
	background: rgb(38,113,193); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzI2NzFjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTUwYTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(38,113,193,1) 1%, rgba(30,80,168,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(38,113,193,1)), color-stop(100%,rgba(30,80,168,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(38,113,193,1) 1%,rgba(30,80,168,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(38,113,193,1) 1%,rgba(30,80,168,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(38,113,193,1) 1%,rgba(30,80,168,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(38,113,193,1) 1%,rgba(30,80,168,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2671c1', endColorstr='#1e50a8',GradientType=0 ); /* IE6-8 */
}

#ContentPlaceHolder1_PanelDrag0, #ContentPlaceHolder1_PanelDrag1, #ContentPlaceHolder1_PanelDrag2, #ContentPlaceHolder1_PanelDrag3, #ContentPlaceHolder1_PanelDrag4
{
	color: #FC3;
	font-size: 15px;
	font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
	font-weight: bold;
	padding: 5px 10px;
	border-bottom: 1px solid #33AAE3;
	background-color: transparent;
}

.Bg01
{
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.3) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.3) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#4dffffff',GradientType=0 ); /* IE6-8 */
}

.PopBg
{
	padding: 0 0 10px 0;
	-webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
	background: rgb(41,137,216); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTU3OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(41,137,216,1) 0%, rgba(30,87,153,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,137,216,1)), color-stop(100%,rgba(30,87,153,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(41,137,216,1) 0%,rgba(30,87,153,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(41,137,216,1) 0%,rgba(30,87,153,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(41,137,216,1) 0%,rgba(30,87,153,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(41,137,216,1) 0%,rgba(30,87,153,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#1e5799',GradientType=0 ); /* IE6-8 */
}

.Table01
{
	margin: 0 10px 10px 10px;
}

	.Table01 th
	{
		color: #FFF;
		font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
		font-size: 15px;
		font-weight: bold;
		padding: 6px 10px;
		text-align: center;
		background: rgb(38,113,193); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzI2NzFjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTUwYTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, rgba(38,113,193,1) 1%, rgba(30,80,168,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(38,113,193,1)), color-stop(100%,rgba(30,80,168,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(38,113,193,1) 1%,rgba(30,80,168,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(38,113,193,1) 1%,rgba(30,80,168,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(38,113,193,1) 1%,rgba(30,80,168,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(38,113,193,1) 1%,rgba(30,80,168,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2671c1', endColorstr='#1e50a8',GradientType=0 ); /* IE6-8 */
	}

	.Table01 td
	{
		padding: 3px 1px;
		color:#FFF;
	}

		.Table01 td input
		{
			margin: 0 0 0 3px;
		}

		.Table01 td select
		{
			margin: 0 0 0 3px;
		}

.PaddingTop01
{
	padding-top: 5px;
}

.Title01
{
	border: 1px solid #178951;
	width: 100%;
}

	.Title01 td
	{
		border: 1px solid #178951;
		color: #FFF;
		font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
		font-size: 15px;
		font-weight: bold;
		padding: 6px 10px;
		text-align: center;
		background: rgb(38,113,193); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzI2NzFjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTUwYTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, rgba(38,113,193,1) 1%, rgba(30,80,168,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(38,113,193,1)), color-stop(100%,rgba(30,80,168,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(38,113,193,1) 1%,rgba(30,80,168,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(38,113,193,1) 1%,rgba(30,80,168,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(38,113,193,1) 1%,rgba(30,80,168,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(38,113,193,1) 1%,rgba(30,80,168,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2671c1', endColorstr='#1e50a8',GradientType=0 ); /* IE6-8 */
	}

#ContentPlaceHolder1_SourceGridView, #ContentPlaceHolder1_TargetGridView
{
	border: 0;
}


.check-state-error
{
    border: 1px solid #cd0a0a;             
            color: #cd0a0a;         
}
