@charset "utf-8";
/* CSS Document */

body
{
	padding: 6px;
	background-color: #1e5799; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTU3OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(41,137,216,1) 0%, rgba(30,87,153,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,137,216,1)), color-stop(100%,rgba(30,87,153,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(41,137,216,1) 0%,rgba(30,87,153,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(41,137,216,1) 0%,rgba(30,87,153,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(41,137,216,1) 0%,rgba(30,87,153,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(41,137,216,1) 0%,rgba(30,87,153,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#1e5799',GradientType=0 ); /* IE6-8 */
}

.TableS3
{
	width: 100%;
	font-size: 15px;
	word-break: break-all;
	border: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/*Header 標題*/
.TableS3
{
	font-size: 13px;
}

	.TableS3 th
	{
		border: 1px solid #178BC0;
		color: #FFF;
		font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
		font-size: 15px;
		font-weight: bold;
		padding: 5px;
		text-align: center;
		background: rgb(38,113,193); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzI2NzFjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTUwYTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, rgba(38,113,193,1) 1%, rgba(30,80,168,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(38,113,193,1)), color-stop(100%,rgba(30,80,168,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(38,113,193,1) 1%,rgba(30,80,168,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(38,113,193,1) 1%,rgba(30,80,168,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(38,113,193,1) 1%,rgba(30,80,168,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(38,113,193,1) 1%,rgba(30,80,168,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2671c1', endColorstr='#1e50a8',GradientType=0 ); /* IE6-8 */
	}

	.TableS3 tr
	{
		border: 0px solid #A3E3EF;
	}

	.TableS3 td
	{
		color: #FFF;
		border: 1px solid #A3E3EF;
		padding: 5px;
		font-size: 13px;
	}

/* item */
.Item
{
	margin: 0 0 10px 0;
	display: block;
}

	.Item th
	{
		color: #FFF;
		text-align: left;
		font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
		font-size: 15px;
	}

fieldset
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFF;
	display: block;
	-webkit-margin-start: 2px;
	-webkit-margin-end: 2px;
	-webkit-padding-before: 0.35em;
	-webkit-padding-start: 0.75em;
	-webkit-padding-end: 0.75em;
	-webkit-padding-after: 0.625em;
	border: 1px solid #2B96D7;
	min-width: -webkit-min-content;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#4dffffff',GradientType=0 ); /* IE6-8 */
}

.Title02
{
	color: #FFF;
	font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
	font-size: 15px;
	font-weight: bold;
	padding: 0 0 5px 0;
}

.Table04 td
{
	padding: 0 0 5px 0;
	color: #FFF;
	font-size: 13px;
}

	.Table04 td b
	{
		color: #FF6;
	}

legend
{
	display: block;
	-webkit-padding-start: 5px;
	-webkit-padding-end: 5px;
	font-size: 15px;
	font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
	font-weight: bold;
	border: none;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	text-shadow: 1px 1px 1px #161F30;
}

.TableS5
{
	border: 1px solid #2B96D7;
	min-width: -webkit-min-content;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#4dffffff',GradientType=0 ); /* IE6-8 */
}


/* icon all */
.IconSearch
{
	background: url(../Img/icon_search.png) 6px center no-repeat;
}

.IconNew
{
	background: url(../Img/icon_new.png) 6px center no-repeat;
}

.IconEdit
{
	background: url(../Img/icon_edit.png) 6px center no-repeat;
}

.IconDelete
{
	background: url(../Img/icon_delete.png) 6px center no-repeat;
}

.IconGroupSet
{
	background: url(../Img/icon_group_set.png) 6px center no-repeat;
}

.IconManageList
{
	background: url(../Img/icon_manage_list.png) 6px center no-repeat;
}

.IconSave
{
	background: url(../Img/icon_save.png) 6px center no-repeat;
}

.IconCancel
{
	background: url(../Img/icon_cancel.png) 6px center no-repeat;
}

.IconMultisearch
{
	background: url(../Img/icon_multisearch.png) 6px center no-repeat;
}

.IconLook
{
	background: url(../Img/icon_look.png) 6px center no-repeat;
}

.IconLeft
{
	background: url(../Img/icon_left.png) 6px center no-repeat;
}

.IconRight
{
	background: url(../Img/icon_right.png) 6px center no-repeat;
}

.IconChoose
{
	background: url(../Img/icon_choose.png) 6px center no-repeat;
}

.IconChange
{
	background: url(../Img/icon_change.png) 6px center no-repeat;
}

.IconOk
{
	background: url(../Img/icon_ok.png) 6px center no-repeat;
}

.IconSet
{
	background: url(../Img/icon_set.png) 6px center no-repeat;
}

.IconPassword
{
	background: url(../Img/icon_password.png) 6px center no-repeat;
}

.IconRefresh
{
	background: url(../Img/icon_refresh.png) 6px center no-repeat;
}

.IconSetCardNumber
{
	background: url(../Img/icon_setCardNumber.png) 6px center no-repeat;
}

.IconCopyPermissions
{
	background: url(../Img/icon_copyPermissions.png) 6px center no-repeat;
}

.IconReplacePermissions
{
	background: url(../Img/icon_replacePermissions.png) 6px center no-repeat;
}

.IconTransit
{
	background: url(../Img/icon_transit.png) 6px center no-repeat;
}

.IconLeave
{
	background: url(../Img/icon_leave.png) 6px center no-repeat;
}

.IconClearData
{
	background: url(../Img/icon_clear_data.png) 6px center no-repeat;
}

.IconExport
{
	background: url(../Img/icon_export.png) 6px center no-repeat;
}

.IconOrganization
{
	background: url(../Img/icon_organization.png) 6px center no-repeat;
}

.IconSetRoles
{
	background: url(../Img/icon_set_roles.png) 6px center no-repeat;
}

.IconSetManage
{
	background: url(../Img/icon_set_manage.png) 6px center no-repeat;
}
