/* GridView 區塊 */
.GVStyle {
    width: 100%;
    font-size: 15px;
    word-break: break-all;
    background-color: #FFF;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

    /*Header 標題*/
    .GVStyle th {
        padding: 5px 10px;
        color: #fff;
        font-family: "微軟正黑體","Arial";
        font-weight: bold;
        font-size: 15px;
        background-color: #1276BC;
        border-right: 1px solid #009FD5;
        border-top: 1px solid #009FD5;
    }

        .GVStyle th:last-child {
            border-left: 0px solid #009FD5;
        }

        .GVStyle th a {
            color: #fff;
            text-decoration: underline;
        }

    .GVStyle .ChR {
        background-color: #F0F0F0;
    }

    .GVStyle tr {
        background-color: #FFF;
    }

        .GVStyle tr:hover {
            background-color: #E1F1FB;
        }

    .GVStyle td {
        padding: 6px 8px;
        color: #333;
        border-top: 0px solid #D4D4D4;
        border-left: 0px solid #D4D4D4;
        border-right: 1px solid #D4D4D4;
        border-bottom: 1px solid #D4D4D4;
        font-size: 13px;
    }

        .GVStyle td:last-child {
            border-top: 0px solid #D4D4D4;
            border-left: 0px solid #D4D4D4;
            border-right: 0px solid #D4D4D4;
            border-bottom: 1px solid #D4D4D4;
        }

.GVStylePgr td {
    background-color: #DDDDDD;
    padding: 10px 10px;
    color: #333;
}

.GVStylePgr a {
    color: #000;
    padding: 4px 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 5px 0;
}

    .GVStylePgr a:hover {
        color: #FFF;
        background: #999;
    }

.MinHeight {
    height: 300px;
}
/* GridView 區塊 */

/* ModifyBackup 區塊 */
.MBStyle {
    font-family: "微軟正黑體","Arial";
    font-size: 14px;
    word-break: keep-all;
}

    .MBStyle th {
        height: 25px;
        padding: 0px;
        border-spacing: 0px;
        border-right: 1px solid #000;
        color: #fff;
        background: #000;
        font-family: "微軟正黑體","Arial";
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        border-right: 1px solid #999;
    }

/* ModifyBackup 區塊 */


input[type="text"], input[type="password"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: #FFF;
    border: 0;
    padding: 5px 5px;
    color: #036;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 5px 0 0;
}


    input[type="text"].TextBoxRequired, input[type="password"].TextBoxRequired {
        background-color: #FFE5E5;
    }

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: #FFF;
    border: 0;
    padding: 5px 5px;
    color: #036;

    -webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
    border-style: solid;
    border-width: 0px;
    border-color: #000000;

    -webkit-border-radius: 3px;

    border-radius: 3px;
    margin: 0 5px 0 0;
}

.DropDownListStyle {
    border: 0;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    padding: 4px 5px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 5px 0 0;
}

input[type="submit"],input[type="button"] {
    font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
    font-size: 15px;
    text-align: center;
    border: none;
    padding: 4px 10px 4px 30px;
    margin: 0 4px 0 0;
    background-color: #1B559C;
    border-top: 1px solid #2980C7;
    border-left: 1px solid #2980C7;
    border-right: 1px solid #10325C;
    border-bottom: 1px solid #10325C;
    color: #FFFFFF;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    cursor: pointer;
}

    input[type="submit"]:hover,input[type="button"]:hover {
        background-color: #00BCF2;
        border-top: 1px solid #36D9F5;
        border-left: 1px solid #36D9F5;
        border-right: 1px solid #06618C;
        border-bottom: 1px solid #06618C;
        -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2);
        box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2);
        position: relative;
        left: 2px;
        top: 2px;
    }

    input[type="submit"]:active,input[type="button"]:active {
        background-color: #00BCF2;
        border-top: 1px solid #36D9F5;
        border-left: 1px solid #36D9F5;
        border-right: 1px solid #06618C;
        border-bottom: 1px solid #06618C;
        -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2);
        box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2);
        position: relative;
        left: 2px;
        top: 2px;
    }

    input[type="submit"]:disabled,input[type="button"]:disabled {
        border-top: 1px solid #818E9E;
        border-left: 1px solid #818E9E;
        border-right: 1px solid #42505E;
        border-bottom: 1px solid #42505E;
        -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2);
        box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2);
        background-color: #6A7A8E;
    }


input[type="checkbox"] {
    width: 14px;
    height: 14px;
    vertical-align: bottom;
    background: #fff;
}

.ListBoxStyle {
    font-family: "微軟正黑體","Arial";
    font-size: 14px;
    border-color: black;
    border-width: thin;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    border-radius: 3px;
    border: none;
    margin: 0 4px 0 0;
}

.RightClickmenuskin {
    position: absolute;
    text-align: center;
    font-size: 10pt;
    background-color: menu;
    border: 1px solid buttonface;
    visibility: hidden;
    border: 2px outset buttonhighlight;
}

.menuitems {
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

/* item */
.Item {
    margin: 0 0 10px 0;
    display: block;
    padding: 0px;
}

    .Item th {
        color: #FFF;
        text-align: left;
        font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
        font-size: 15px;
    }

    .Item div {
        color: #FFF;
        text-align: left;
        font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
        font-size: 15px;
    }

.Item02 {
    margin: 0 auto 10px auto;
    display: block;
}

    .Item02 th {
        color: #FFF;
        text-align: left;
        font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
        font-size: 15px;
    }

.popItem {
    margin: 10px 10px 10px 10px;
    display: block;
}

    .popItem th {
        color: #FFF;
        text-align: left;
        font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
        font-size: 15px;
        padding: 0 10px 0 0;
    }

    .popItem td {
        padding: 0 0 5px 0;
        text-align: left;
    }

.Arrow01 {
    width: 16px;
    height: 14px;
    background: url(../../Img/arrow01.png) no-repeat;
    margin: 2px 8px 0 0;
    float: left;
}

.TableS1 {
    width: 100%;
    background-color: #FFF;
    margin: 0 0 10px 0;
    overflow: auto;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    border-collapse: collapse;
    border: solid 0px;
}

.TableS2 {
    width: 100%;
    background-color: #FFF;
    margin: 0 0 10px 0;
    overflow: auto;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.3);
}

    .TableS2 td {
        color: #333;
    }

.TableWidth {
    width: 100%;
}

#ContentPlaceHolder1_UpdatePanel1 {
    overflow: auto;
}

/* other */
fieldset {
    color: #FFF;
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border: 1px solid #2B96D7;
    min-width: -webkit-min-content;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.2) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#4dffffff',GradientType=0 ); /* IE6-8 */
}

legend {
    display: block;
    -webkit-padding-start: 5px;
    -webkit-padding-end: 5px;
    font-size: 15px;
    font-family: 微軟正黑體,Microsoft JhengHei,新細明體,PMingLiU;
    font-weight: bold;
    border: none;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-shadow: 1px 1px 1px #161F30;
}

.Panel01 {
    width: 100%;
}

    .Panel01 td {
        color: #FFF;
        border: 1px solid #A3E3EF;
        padding: 6px 5px;
    }

label {
    /*color: #000;*/
    padding: 0 10px 0 5px;
}

/*input[type="checkbox"] {
    -webkit-appearance:none;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    background: #fff;
    border: 2px solid #999999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 0px;
}

input[type="checkbox"]:disabled {
    -webkit-appearance: none;
    border-color: #999;
    background: #999;
}

    input[type="checkbox"]:disabled:hover {
        border-color: #999;
        border-color: #999;
        background: #999;
    }

input[type="checkbox"]:active {
    border-color: #c6c6c6;
    background: #ebebeb;
}

input[type="checkbox"]:hover {
    border-color: #c6c6c6;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}

input[type="checkbox"]:checked {
    border-color: #000000;
    background: #FFFFFF;
}

    input[type="checkbox"]:checked::after {
        content: url(../../Img/checkmark.png);
        display: block;
        position: absolute;
        top: -5px;
        left: -5px;
    }

input[type="checkbox"]:focus {
    outline: none;
}*/
